.no-data {
 position: relative;
 z-index: 1;
 height: 80vh;
 width: 50%;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: rgba(51, 55, 64, 0.5);
 @media (max-width: 600px) {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
 }
}

.no-data-content {
 text-align: center;
 h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
 }
 p {
  font-size: 18px;
 }
 button {
  font-size: 16px;
 }
 @media (max-width: 600px) {
  h1 {
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 21px;
  }
  p {
   font-size: 9px;
  }
  button {
   font-size: 8px;
  }
 }
}

.skeleton-row {
 background-color: rgba(51, 55, 64, 0.5);
 border-radius: 10px;
 height: 20px;
 margin-bottom: 10px;
 position: relative;
 overflow: hidden;
}

.skeleton-row::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: linear-gradient(to right, rgba(51, 55, 64, 0.5), rgba(68, 68, 68, 0.5), rgba(51, 55, 64, 0.5));
 background-size: 400px 400px;
 animation: loading 2s infinite;
}

.paginator {
 margin-top: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

mat-paginator {
 margin-top: 16px;
 width: 60%;
 @media (max-width: 600px) {
  width: 100%;
 }
}

@keyframes loading {
 0% {
  background-position: 0 0;
 }
 100% {
  background-position: 400px 0;
 }
}

.no-data-container::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(51, 55, 64, 0.5); /* Semi-transparent #333740 */
 filter: blur(10px);
 z-index: -1;
}
