<div class="container">
 <mat-toolbar color="primary">
  <span>Crypto Stock Screener</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openFilterDialog()">
   <mat-icon>filter_list</mat-icon>
  </button>
 </mat-toolbar>

 <div class="content">
  <mat-table [dataSource]="filteredCryptos">
   <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price (USDT) </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="volume">
    <mat-header-cell *matHeaderCellDef> Volume (USDT) </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.volume }} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="priceChange">
    <mat-header-cell *matHeaderCellDef> 24h Change (%) </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.priceChange }} </mat-cell>
   </ng-container>

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></mat-row>
  </mat-table>
 </div>
</div>
