<ng-container>
  <mat-toolbar color="primary" sticky class="sticky-toolbar reduced-width-toolbar">
    <img src="assets/xtrades-logo.png" alt="Logo" class="logo" />
    <span>trades</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-toolbar class="filter-toolbar">
    <span class="spacer"></span>
    <button mat-icon-button (click)="openFilterDialog()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-icon-button (click)="clearFilters()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>

  <ng-template #loaderContent>
    <div class="loader">
      <mat-spinner class="loader-large" mode="indeterminate" diameter="24"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #skeletonContent>
    <app-table-skeleton></app-table-skeleton>
  </ng-template>

  <ng-container *ngIf="!isLoading && dataSource.data.length > 0; else showLoaderOrSkeleton">
    <div class="table-wrapper">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="stars">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <mat-icon>star_border</mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.s }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="{ 'price-increase': element.P >= 0, 'price-decrease': element.P < 0 }">
            {{ element.c | currency }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="volume">
          <mat-header-cell *matHeaderCellDef> Volume </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="{ 'price-increase': element.P >= 0, 'price-decrease': element.P < 0 }">
            {{ element.v | number: '1.0-2' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="priceChange">
          <mat-header-cell *matHeaderCellDef> 24h (%) </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="{ 'price-increase': element.P >= 0, 'price-decrease': element.P < 0 }">
            {{ element.P | number: '1.2-2' }}%
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quoteVolume">
          <mat-header-cell *matHeaderCellDef> Quote Volume </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.q | number: '1.2-2' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bidPrice">
          <mat-header-cell *matHeaderCellDef> Bid Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.b | currency }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="askPrice">
          <mat-header-cell *matHeaderCellDef> Ask Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.a | currency }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-toolbar"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[15, 20, 25]" showFirstLastButtons></mat-paginator>
  </ng-container>

  <ng-template #showLoaderOrSkeleton>
    <ng-container *ngIf="isLoading; else skeletonContent">
      <ng-container *ngTemplateOutlet="loaderContent"></ng-container>
    </ng-container>
  </ng-template>
</ng-container>
