<div mat-dialog-title class="dialog-title">
    <div class="title-left">
      <mat-icon>filter_list</mat-icon>
      <h1>Filters</h1>
    </div>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
<div mat-dialog-content class="filter-container">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Min Trade Volume (USDT)</mat-label>
      <input matInput [(ngModel)]="data.minVolume" type="number" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Max Trade Volume (USDT)</mat-label>
      <input matInput [(ngModel)]="data.maxVolume" type="number" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Min Price Change (%)</mat-label>
      <input matInput [(ngModel)]="data.minPriceChange" type="number" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Max Price Change (%)</mat-label>
      <input matInput [(ngModel)]="data.maxPriceChange" type="number" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Min Price (USDT)</mat-label>
      <input matInput [(ngModel)]="data.minPrice" type="number" />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Max Price (USDT)</mat-label>
      <input matInput [(ngModel)]="data.maxPrice" type="number" />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial style="background-color: royalblue; color: white;">Apply Changes</button>
</div>
